


.top-bar {
    border-bottom: 1px solid $gray-600;
    .nav-link{
        padding: 0.325rem;
        color : $primary;
    }
    small {
        font-size: 0.675em;
        font-weight: 600;
        letter-spacing: 1px;
    }
}
.header {
    .logos {
        border: none;
        margin: 0 0.5rem;
        img {
            display: block;
            margin: 0 auto;
            height: 65px;
        }
        p {
            font-size: 0.6rem;
            text-align: center;
            margin: 0;
        }
    }

    .btn{
        font-size: 0.9rem;
    }
}
.header h1 {
    font-size: 1.1rem;
        font-weight: 900;
    color: #000;
    letter-spacing: 1px;
    font-family: 'Roboto';
}

.navbar-nav {
    font-family: $headings-font-family;
    font-weight: 600;
    
}

.page-header {
    background-color: $light;
    text-align: center;
    padding: 3rem 0;
    h2{
        font-size: 1.6rem;
    }
    a{
        font-size: 0.8rem;
        color : $body-color;
    }
}

.menu {
    border-top : 1px solid  #e9ecef;
    border-bottom: 1px solid $light;
    font-size: 0.85rem;
    text-transform: uppercase;
    
    .dropdown-item {
        text-transform: initial;
    }
    .dropdown-toggle::after {
        border: none;
        content: "\F282";
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;
      }

      .nav-link{
        border-bottom: 1px solid transparent;
      }
      .nav-link:hover{
        border-bottom: 1px solid $secondary;
      }

      .btn-info {
        font-size: 0.85rem;
          background-color: $primary;
          color : #fff;
      }

      .navbar-expand-lg .navbar-nav .nav-link {
        padding-left:0;
        padding-right: 0;
    }
}