.post-title h2{
    margin : 0 0 0.5rem 0;
    font-size: 1.2rem;
}

#latest-posts {
    margin-top: 2rem;
}

.post-meta, .post .post-meta {
    p {
        font-size: 0.6rem;
    }
}

.last {
    .post-title h2{
        margin : 1rem 0 0.5rem 0;
        font-size: 1.4rem;
    }
}

.last a, .post a {
        font-weight: 600;
}
.post {
  
    p, a {
        font-size: 0.9rem;
    }
}

.article {
    border: 1px solid #f0f0f8;
    padding: 3rem;
    margin: 2rem 0;

    .post-image img{
        display: block;
        margin: 0 auto 3rem auto;
    }
}

.category {
    background-color: $primary;
    color : #ffffff;
    padding: 2px 5px;
}