
.post, .last {
    border: 1px solid #efeff7;
    padding: 1rem;
    margin-bottom: 1rem;
}

.excerpt {
    min-height: 84px;
    overflow: hidden;
}
.category {
    background-color: $light;
    color : $primary;
    padding: 2px 5px;
    border: 1px solid darken( $light, 5%);
}