.badge.bg-light {
  color: darken($light, 40%);
  font-weight: 600;
}
#latest-posts .border-2 {
  border-width: 2px;
}
#latest-posts .post-preview {
  .img-container {
    height: 225px;
  }
}
.horizontal-preview {
  .img-container {
    height: 170px;
    overflow: hidden;
  }
  .card-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.post-preview {
  .card-body {
    border: 3px solid $light;
    border-top: 0;
    border-radius: 0 0 1rem 1rem;
  }
  background-color: #fff;
  .img-container {
    height: 300px;
  }
  .card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-title {
    height: 70px;
  }
}
.infographic .card-title {
  height: 55px;
}

.is-loading {
  .card-img,
  .card-title,
  .card-button,
  p {
    background: $light;
  }

  p {
    height: 125px;
  }

  .card-button {
    border-radius: 2rem;
    height: 43px;
    width: 125px;
  }
}

article {
  margin: 2rem 0 2rem 0;
  border: 2px solid $light;
  padding: 4rem;
  border-radius: 1rem;
  h2 {
    font-size: 2rem;
  }
}
