.data-table {
  font-size: 0.8rem;
  border: 1px solid #f0f0f8;
  height: 480px;
  overflow-y: scroll;
  thead {
    background-color: $primary;
    color: #fff;
    text-transform: uppercase;
  }
}

.filter-form {
  label {
    font-weight: bold;
    font-size: 0.8rem;
    font-variant: small-caps;
  }
  .form-control {
    font-size: 0.8rem;
  }
}

.dataset-page {
  padding-top: 1.5rem;
  .btn-sm {
    padding: 0.5rem;
    font-size: 0.875rem;
    border-radius: 1.2rem;
    font-weight: 600;
  }
}
