.data-table {
    font-size : 0.8rem;
    border : 1px solid #F0F0F8;
    thead {
        background-color: $primary;
        color : #FFF;
        text-transform: uppercase;
    }
}

.filter-form {
    border: 1px solid $light;
    padding: 2rem;
    label {
        font-weight: bold;
        font-size: 0.8rem;
        font-variant: small-caps;
    }
    .form-control {
        font-size: 0.8rem;
    }
}