// portail de données
.info-section {
  border-top: 1px solid #e9ecef;
  font-size: 0.8rem;
  text-align: center;
}

.navbar {
  border-bottom: 1px solid #e9ecef;
  text-transform: uppercase;
  font-size: 0.9rem;

}

.open-data-portal {

  padding-top: 2rem;
  min-height: calc(100vh - 370px);

  background: url('/celeste.svg') 100% 100% no-repeat;

  .legalUnit {
    border: 1px solid $light;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .nav {
    background-color: $light;
    a {
      text-transform: uppercase;
      color: $primary;
      border : 1px solid darken($light, 10%);
    }

    .selected {
      background-color: $secondary;
      .nav-link {
        color : #FFF;
        border: 1px solid $secondary;
      }
    }
  }

  .footprint {

    #indic-view-label {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .indic {
      padding-bottom: 1rem;
      border-bottom:1px solid $light;
      margin-bottom: 2rem;
    }
    .value {
      font-size: 1.5rem;
      color: $primary;
      font-weight: 600;
    }

    .incertitude {
      color: grey;
      font-size: 0.7rem;
    }

    .icon-ese {
      height: 40px;
      margin-right: 1rem;
    }

    .card-footer {
      background-color: transparent;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 0.7rem;
      p{
        margin: 0;
      }
    }
  }


  .results {
    border-top: 1px solid $light;
  }

  .result {
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 0.5rem;

    h3 {
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 0;
      font-size: 0.8rem;

    }
  }
}

.search-form {

  border-radius: 0 10px 10px 0;
  overflow: hidden;

  margin-bottom: 2rem;

  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }

  .form-control-lg {
    border-radius: 10px 0 0 10px;
  }

  .btn {
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
  }

  ::placeholder {
    color: #82848a;
    font-size: 1rem;
  }
}

.legalUnitCard {
  margin-bottom: 1rem;

  .card-header {
    background-color: $light;
    font-weight: 600;
  }

  .card-body p {
    font-size: 0.8rem;
  }

  h6 {
    font-weight: 600;
  }
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $secondary;
  color: $secondary;
  box-shadow: 9999px 0 0 -5px $secondary;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $secondary;
  color: $secondary;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $secondary;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $secondary;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $secondary;
  }

  30% {
    box-shadow: 9984px 0 0 2px $secondary;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $secondary;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $secondary;
  }

  30% {
    box-shadow: 9999px 0 0 2px $secondary;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $secondary;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $secondary;
  }

  30% {
    box-shadow: 10014px 0 0 2px $secondary;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $secondary;
  }
}