
/* make the customizations */

$primary : #191558;
$secondary : #fa595f;
$light : #f0f0f8;
$gray-600 : #f3f3f3;
$info : $light;

$light-secondary : #FEEBEC;

$body-color: $primary;
$font-size-base: 0.9rem;
$link-color : lighten($primary, 5%);
$link-decoration: none;


$font-family-sans-serif: 'Raleway', sans-serif;
$headings-font-family: 'Raleway', 'Roboto', sans-serif;
$headings-color : $primary;
$headings-font-weight : 700;

$h2-font-size:1.4rem;
$h3-font-size:1.3rem;
$h4-font-size:1.2rem;
$h5-font-size:1rem;
$h6-font-size:1rem;
$headings-margin-bottom: 1rem;


$border-radius : 1rem;

/* Navbar */
 
$navbar-light-color :  $primary ;
$navbar-light-hover-color : $secondary;
$nav-link-padding-y : 0.85rem;
$nav-link-font-weight : 600;
$nav-link-font-size : 0.85rem;
$dropdown-min-width: 18rem;

$card-cap-bg : #fbfbff;
$card-border-width : 0;
$card-cap-padding-y : 1rem;

$border-radius-lg : 1rem;
$border-color : $light;
$accordion-button-active-bg : #fff;
$accordion-border-radius : 1rem;
$accordion-border-width : 0;
$accordion-border-color : $light;
$btn-border-radius : 1.5rem;
$btn-border-radius-sm : 2rem;
$badge-font-weight : 500;
$modal-content-bg : $light;

$dropdown-link-active-bg : transparent;
$dropdown-font-size : 0.85rem;
$dropdown-border-color : $light;
$dropdown-border-width : 2px;
$dropdown-link-hover-bg: $light;
$pagination-font-size : 0.8rem;


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";