@import '../../custom.scss';

.docs-breadcrumb {

  ol {
    margin: 0;
    padding: 0;

    li {
      font-size: 0.75rem;
      margin: 0;
      font-weight: 600;
    }

  }

  .active {
    font-weight: 0 !important;
  }
}