@import "base";

button 
{
  color: white;
  background-color: $raspberry;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  margin: 0.5em 1em;

  &:hover 
  {
    background-color: lighten($secondary-color, 15%);
    color: #fff;
    cursor: pointer;
  }

  &:disabled 
  {
    background-color: white;
    color: $primary-color;
    border: solid 1px $primary-color;
  }

  &.large
  {
    padding: 10px 20px;
  }

  &.small
  {
    padding: 5px 10px;
  }
}