@import "base";

button 
{
  color: white;
  background-color: $raspberry;
  border: solid 1px $raspberry;
  border-radius: 5px;
  padding: 5px 25px;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;

  &:hover 
  {
    background-color: white;
    border: 1px solid $raspberry;
    color: $raspberry;
  }

  &:disabled 
  {
    background-color: white;
    color: $primary-color;
    border: solid 1px $primary-color;
  }

  &.large
  {
    padding: 10px 20px;
  }
}