@import 'base';


/* -------------------- Form -------------------- */

.section.form 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-section
  {
    width: 750px;
    margin-top: 10px;
    margin-bottom: 10px;

    > *
    {
      width: 100%;
    }

    .titre-form-section
    {
      text-align: left;
    }

    .submit-button-form
    {
      width: fit-content;
    }
  }
}