@import 'base';


/* -------------------- Section -------------------- */

.section 
{
  width: 100%;
  padding: 0px;
  margin: 10px 0;

  &.h-group 
  {
    padding: 0;
    gap: 10px;
    
    > div 
    {
      flex: 1 1 0px;
      margin: 0px;
    }
  }

  // components

  .titre-section
  {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

/* -------------------- Bloc -------------------- */

.bloc 
{
  overflow: auto;
  padding: 2em;

  &.blue {
    background-color: $dark-blue;
    h1,h2,p,b {
      color: white;
    }
  }
  
  &.gray {
    background-color: $light-gray;
  }
  
  &.white {
    border: 1px solid #c6c3f0;
    background: #ffffff;
    
    button {
      background-color: $dark-blue;
    }
  }

  // Inner

  .bloc-container
  {
    margin-bottom: 20px;
  }

  // Components
  
  h1.titre-bloc
  {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  h2.titre-bloc
  {
    font-size: 25px;
    margin : 10px 0;
  }

  > img
  {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.graph {
  width: 50%;
  background: #ffffff;
    padding: 2em;
    border: 1px solid lighten($primary-color, 10%);
    margin: 2em 0;
}