@import 'base';

.contributeurs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px 0px;

    .contributeur {
      min-width:250px;
      display: flex;
      flex-flow: column;
      align-items:center;

      & > img {
        margin: 10px;
        height: 100px;
        width: 100px;
        filter: grayscale(100%);
      }

      figurecaption {
        text-align: center;
      }
    }
}

#strip-ecosystem {
  margin-top: 25px;

  #ecosystem-label {
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
  .ecosystem-list-logo {
    padding: 25px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-top: solid $primary-color 1px;

    img {
      padding:5px 0px;
      height: 40px;
    }
  }
}
