@import 'base';


.text-container
{
  padding: 0 10%;

  p
  {
    text-align: center;
  }
}

#nos-activites
{

  > div 
  {
    border: solid 1px $primary;
    margin-top: 10px;
    padding: 5px;
  }

  div.activite
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 10px;

    h3 
    {
      text-align: center;
      min-height: 40px;
    }

    img
    {
      width: 75px;
      margin: 20px;
    }
  }
}

#photos-equipe
{
  margin-top: 25px;
  margin-bottom: 50px;

  > div
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  

    p 
    {
      margin: 5px 0;
    }
  }
}