@import 'base';

#head-accueil {
  justify-content: left;
  margin: 20px 10px 10px 10px;
  width: 100%;
}

.head-accueil-item {
  text-align: left;
  justify-content: left;
  display: block;
  margin: 5px 0px;
}

.head-accueil-item-highlight {
  text-align: left;
  justify-content: left;
  display: block;
  margin: 5px 0px;
  color: $highlight-color;
}

#front-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#logo-accueil {
  width: 30%;
  margin-bottom: 25px;
}

#texte-logo-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#titre-logo-accueil {
  margin-bottom: 10px;
}
