@import "base";

.article {

    background: #fff;
    padding: 2em 4em;

    p {
        text-align: justify; 
    }
    .big-title{
        font-size: 4em;
        line-height: 1.25;
        position: relative;
        &:before {
            position: absolute;
            top: 62px;
            left: -26px;
            overflow: hidden;
            width: 30px;
            height: 10px;
            content: " ";
            background-color: $secondary-color;
        }
    }

    .h-group {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-left: 26px;
        gap : 40px;
        >div {
            flex: 0 1 ;
        }
    }

    .subtitle {
        font-size: 2.7em;
        font-family: "Raleway";
        font-weight: 800;
        margin : 1em 0;
        line-height: 1.5;
        border-bottom: 2px solid #e8e8e8;
    }

    img {
        float : left;
        margin-right: 20px;
    }
    h4 {
        font-size: 1.3em;
        font-family: "Raleway";
        margin : 1em 0;
    }
    h5 {
        font-size: 1.1em;
        font-family: "Raleway";
        margin : 1em 0;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 40px;
        div {
            flex-basis: 100%;
        }
    }
    .w75 {
        width: 75%;
    }

    .big-quote {
        font-weight: 900;
        color : $primary-color;
        font-size : 2em;
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left : 5em;
    }
    .quote {
        font-weight: 900;
        font-size: 1.5em;
        text-align: right;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-right : 5em;
        }

        .nos-valeurs {
            li {
                margin : 1em 0;
            }
        }


}