html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: #616161;
  margin: 50px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 50px;
}

h2 {
  margin: 0px 10px 20px 0;
  font-size: 1.5rem;
  text-align: left;
}

p {
  font-size: 1rem;
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: #616161;
  box-sizing: border-box;
  font-family: Helvetica;
}

button {
  color: white;
  background-color: #616161;
  border: 0;
  height: 25px;
  width: 150px;
}
button:hover {
  background-color: #818181;
}

input {
  height: 25px;
  border-color: #616161 1px;
}

li {
  list-style-type: square;
  list-style: #616161;
}

/* ----- class ----- */

.Header {
  display: block;
  width: 100%;
}

.header-strip-item {
  display: inline-block;
  margin: auto 0;
}

.strip {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 80%;
}

/* ---- others ----- */

#remaining-space {
  flex-grow: 1;
}

/* ----- indicateur ----- */

#strip-odd {
  margin-top: 25px;
}

.indic-strip-title {
  padding: 5px 0 5px 0;
  border-top: solid #616161 1px;
  border-bottom: solid #616161 1px;
  text-align: center;
}

#indic-label {
  border-top: solid #616161 1px;
  border-bottom: solid #616161 1px;
  text-align: center;
}

#logo-odd {
  text-align: left;
  margin: 0;
  height: 50px;
}

/* ----- demarches ----- */

.services-item {
  display: inline-block;
  margin: 0 25px 0 25px;
  max-width: 25%;
  vertical-align: top;
}

#services {
  display: inline;
  padding: 0;
  width: 100%;
}
#services-strip {
  text-align: center;
  width: 100%;
}

/* ----- portail ----- */

.line-separator {
  width: 500px;
  border: solid #616161 1px;
  margin: 25px 0 25px 0;
}

#portail-informations {
  margin-bottom: 0;
}

#portail-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: center;
  width: 100%;
  height: 100%;
}

#search-bar {
  display: inline;
  margin: 50px 0 25px 0;
  width: 80%;
}
#search-input {
  margin-right: 25px;
  width: 50%;
}


#results-strip {
  display: block;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.result-item-container {
  display: flex;
  vertical-align: top;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 80%;
  border-top: solid #616161 1px;
}

#result-item-data {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 25px 0 50px;
  width: 500px;
}
#result-item-denomination {
  font-weight: bold;
}

#button-consulter {
  position: relative;
  right: 0;
  display: inline-block;
  vertical-align: top;
  margin: 16px 50px 0 25px;
}

/* ----- ESE ----- */

#sfp-company-data {
  padding-left: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.MenuEmpreinteSocietale {
  text-align: center;
  background-color: white;
  width: 100%;
  border-top: solid #616161 1px;
  border-bottom: solid #616161 1px;
  max-width: 990px;
}

.sfp-menu-items {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.sfp-menu-button {
  display: inline-block;
  padding: 5px 25px 5px 25px;
  color: #616161;
  background-color: transparent;
  border-top: 0;
  border-bottom: 0;
  border-left: solid #616161 1px;
  width: 330px;
}
#sfp-menu-button1,
#sfp-menu-button2 {
  border-right: 0;
}
#sfp-menu-button3 {
  border-right: solid #616161 1px;
}
.sfp-menu-button:hover {
  color: white;
  background-color: #616161;
}


#sfp-view {
  display: inline;
  text-align: center;
}

.VueIndicateur {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  margin: 20px 20px 0 20px ;
  width: 300px;
  border: solid #616161 0px;
}

#indic-view-label {
  font-size: 16px;
  height: 50px;
}

#indic-value {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 25px 0 25px 0;
}

.indic-subdata {
  font-size: 12px;
  margin: 2px 10px 2px 10px;
}

/* ----- Mentions légales ----- */

#mentions-legales {
  width: 100%;
}

#mentions-societe,
#mentions-hebergement {
  justify-content: left;
  text-align: left;
}
