@import 'base';

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height:1.25em;
}

.active
{
  font-weight:bold;
}

h1 {
  color: $primary-color;
  margin: 40px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 40px;
}

h2 {
  margin: 0px 10px 20px 0;
  font-size: 1.5rem;
  text-align: left;
}

p {
  font-size: 1rem;
  text-align: justify;
}

a {
  text-decoration: none;
}

* {
  color: $primary-color;
  box-sizing: border-box;
  font-family: Helvetica;
}

button {
  color: white;
  background-color: $primary-color;
  border: 0;
  height: 25px;
  width: 150px;
}
button:hover {
  background-color: $secondary-color;
}

input {
  height: 25px;
  font-size: 14px;
  border-color: $primary-color 1px;
}

li {
  list-style-type: square;
  list-style: $primary-color;
}

textarea {
  font-size: 14px;
}

@media screen and (max-width: 600px) {

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 1.0rem;
  }

}

/* ----- class ----- */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 95%;
  overflow: auto;
  height: 100%;

  @include lg{
    width:75%;
  }
}

.strip {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;

  @include lg{
    width:75%;
  }
}

.text-link {
  font-style: italic;
}

/* ---- others ----- */

#remaining-space {
  flex-grow: 1;
}

.odd-indic {
  height: 15px;
}

/* --- md content --- */

.content-md h2 {
  margin-top: 50px;
}
.content-md table {
  width: 100%;
  table-layout: auto;
  border-bottom: solid $primary-color 1px;
}
.content-md th {
  border-bottom: solid $primary-color 1px;
}
.content-md thead tr th:first-child,
.content-md tbody tr td:first-child {
  min-width: 250px;
}



/* ----- services ----- */

#services-strip {
  text-align: center;
  width: 100%;
}

#services, #services-publication {
  display: grid;
  max-width:1000px;
  margin:auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @include screen-min(750px)
  {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  justify-content: center;
  padding: 0;
}

.services-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 20px;
  margin: 25px;
  vertical-align: top;
  border: solid $primary-color 1px;

  p {
    margin: 10px;
  }

  .button {
    width: 80%;
    padding: 5px;
    margin: 15px 10% 5px;
    color: white;
    background: $primary-color;
  }

  .button-disabled {
    width: 100%;
    padding: 5px;
    margin: 25px 0;
    color: $primary-color;
    background: white;
    border: solid $primary-color 1px;
  }

}

.partenaires {
  display: flex;
  flex-direction: row;

  img {
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
  }

  .partenaire-box {
    padding-left: 10px;
  }

  .partenaire-title {
    font-weight: bold;
    margin: 10px 0;

  }

}

/* ----- Mentions légales ----- */

#mentions-legales {
  width: 100%;
}

#mentions-societe,
#mentions-hebergement {
  justify-content: left;
  text-align: left;
}

/* ----- form ----- */

#strip-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  height: 100%;
}

.form {
  margin: 0 auto;
  width: 75%;
}

.form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 25px;
}
.form-item > label {
  margin-bottom: 5px;
}

#message-input {
  height: 150px;
}
#coordonnees-input {
  height: 50px;
}

#submit-form {
  width: 100%;
}
#submit-form.disabled {
  background-color: white;
  color: $primary-color;
  border: solid $primary-color 1px;
}

.content-md {
  width: 95%;

  @include lg{
    width:85%;
  }

  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #ffffff;
  }
  
}
