@import "base";

/* ----- header ----- */

header {
  .banner {
    position: relative;
  }
  .slogan {
    font-size: 0.85rem;
    font-weight: 600;
    position: absolute;
    left : 119px;
    top : 29px;
  }

  h2 {
    font-size: 1.1rem;
    text-align: right;
    font-weight: 600;
  }

  .navbar {
    margin: 1em 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .nav-pills .nav-link:hover {
      background-color: $secondary;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
}
}

#logo-header {
  height: 75px;
  margin: 10px 25px;
}


#slogan {
  position: relative;
  left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: $primary;
}


