/* ----- header ----- */

#header {
    display: block;
    width: 100%;
    text-align: center;
    color: #616161;
  }

  #header-strip {
    display: block flex;
    margin : 5px 0 10px 0;
    justify-content: center;
  }

  #logo-header {
    height: 75px;
    margin: 10px 25px 10px 50px;
    display: inline-block;
  }

  #header-name-company {
    display: inline-block;
    margin: auto 0;
    padding-right: 25px;
  }
  #company-name-header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 30px;
  }
  #text-header {
    margin-top: 0px;
    margin-bottom:0px;
    font-size: 16px;
  }

  #menu {
    display: block;
    background-color: #616161;
    width:100%;
  }
  #menu ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretched;
    margin: 0;
    padding: 5px 0 5px 0;
    width:100%;
  }
  .menu-item {
    background-color: #616161;
    list-style: none;
    color: white;
    border-left: solid white 1px;
    border-right: solid white 1px;
  }

  #header-text2 {
    padding: 10px 0px 10px 25px;
    border-left: solid #616161 1px;;
  }

  /* ----- footer ----- */

.Footer {
  background-color: #616161;
  color: white;
  display: flex;
  justify-content: center;
  border-top: solid #616161 1px;
  width: 100%;
  height: 25px;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link-footer {
  color: white;
  font-size: 13px;
  margin-left: 25px;
  margin-right: 25px;
}
