@import 'base';

/* ----- header ----- */

.Header {
  display: block;
  width: 100%;
}

#header {
    display: block;
    width: 100%;
    text-align: center;
    color: $primary-color;
  }

  #header-strip {
    display: flex;
    flex-flow:row wrap;
    width:100%;
    margin : 5px 0 10px 0;
    justify-content:center;
    align-content: center;

    @include xs {
      flex-direction:column nowrap;
    }

    hr{
      @include xs {
        display: none;
      }

      @include sm {
        width:60%
      }
      @include lg {
        display:none;
      }
    }
  }

  #logo-header {
    height: 75px;
    margin: 10px 25px;
    @include xs {
      margin:auto;
    }
  }

  #header-name-company {
    display: inline-block;
    margin: auto 0;
    padding: 0px 25px;
    min-width:335px;

    @include sm{
      text-align:left;
    }
  }
  #company-name-header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 30px;
  }

  #header-text2 {
    font-weight: bold;
    color: $highlight-color;
    padding: 10px 25px;
    @include xs{
      text-align:center;
    }
    @include sm {
      margin: auto 0;
      min-width:90%;
    }
    @include lg{
      border-left : 1px solid $primary-color;
      min-width:330px;
    }
  }

  #text-header {
    position: relative;
    left : 2px;
    margin-top: 0px;
    margin-bottom:0px;
    font-size: 16px;
  }

  #menu {
    display: block;
    background-color: $primary-color;
    width:100%;

    * {
      color: white;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretched;
      margin: 0;
      padding: 0px 0 ;
      width:100%;

      :hover{
        background-color:$secondary-color;
      }

      .active{
        background-color:$secondary-color;

        span{
        transform: rotate(540deg);
        }
      } 

      @include xs{
        flex-flow: column wrap;
        border-left: 5px solid $primary-color;
        border-right: 5px solid $primary-color;
      }
      @include sm {
        border-top: 5px solid $primary-color;
        border-bottom: 5px solid $primary-color;
      }
    }

    .menu-item {
      list-style: none;
      flex-grow:1;

      a {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 5px 0;
      
        .arrow {
          display: block;
          position: relative;
          z-index: 10;
          background-color: white;
          width: 10px;
          height: 10px;
          clip-path: polygon(50% 50%, 100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
          transition: transform 500ms;
        }
      }
      
      .dropdown{
        position:relative;
      
        .dropdown-items{
          display:flex;
          flex-flow:column nowrap;
          background-color: $secondary-color;
          min-width:100%;
          transform: translate3d(0,0,0);

          :hover{
            background-color:$primary-color;
          }
            
          a {
          color: white;
          padding:10px;
          }
      
          @include xs {
            text-align:center;
          }
          @include sm{
            position:absolute;
            top:28px;
            left: -5px;
            border-bottom: 5px solid $primary-color;
            border-left: 5px solid $primary-color;
            border-right: 5px solid $primary-color;
            white-space: nowrap;

            a {justify-content: left;}
            
          }
        }
      }

      @include sm{
        border-left: solid white 1px;
        border-right: solid white 1px;
        &.first {border-left: none;}
        &.last {border-right: none;}

      }

      @include xs{
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        &.first {border-top: none;}
        &.last {border-bottom: none;}
      }
    }

    

    
  }

  /* ----- footer ----- */

.Footer {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  border-top: solid $primary-color 1px;
  width: 100%;
  height: auto;
}

#links {
  display: flex;
  width: 100%;
  align-items: center;

  @include xs{
    flex-flow: column;
    border-left: 5px solid $primary-color;
    border-right: 5px solid $primary-color;
  }
  @include sm {
    border-top: 5px solid $primary-color;
    border-bottom: 5px solid $primary-color;
  }
  
}

.link-footer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;

  @include sm{
    border-left: solid white 1px;
    border-right: solid white 1px;
    &.first {border-left: none;}
    &.last {border-right: none;}
  }

  @include xs{
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    &.first {border-top: none;}
    &.last {border-bottom: none;}
  }
}
