/* ----- indicateur ----- */

#strip-odd {
   margin-top: 25px;
}
  
#strip-header {
  margin-bottom: 0;
}
  
.indic-strip-title {
  padding: 5px 0 5px 0;
  border-top: solid #616161 1px;
  border-bottom: solid #616161 1px;
  text-align: center;
}

#indic-label {
  border-top: solid #616161 1px;
  border-bottom: solid #616161 1px;
  text-align: center;
}

#logo-odd {
  text-align: left;
  margin: 0;
  height: 50px;
}

.ReactMarkdown {
  display: flex;
}

.content-strip {
  width: 80%;
  margin-bottom: 50px;
}

.content-strip > h3 {
  text-align: center;
  padding: 5px 0;
  margin-top: 50px;
  border-top: solid #616161 1px;
  border-bottom: solid #616161 1px;
}

#lien-github {
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

.references-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#block-1,
#block-2,
#block-3 {
    padding: 10px;
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 120px;
    width: 150px;
    border: solid #616161 1px;
}
#block-1 {
    background-color: #616161;
}
#block-1 p {
    color: white;
}

.references-blocks p {
    text-align: center;
    margin: 0;
}
#value-block {
    font-size: 50px;
    margin: auto;
}

#graph {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#graph-img {
  width: 75%;
  margin: 25px auto;
  text-align: center;
}
